<launch>
    <arg name="mode" default="waypoint" />
    <arg name="record" default="false" />
    <arg name="odom" default="vicon" />
    <arg name="run_ekf" default="false" />

    # Hardware
    <include file="$(find hardware)/hardware.launch" />

    # Localization
    <include file="$(find localization)/localization.launch" if="$(arg run_ekf)"/>

    # RL-based planner
    <node pkg="aa_planner" type="planner" name="rl_planner"
        args="--mode $(arg mode) --odom $(arg odom)" output="screen" />

    # Rosbag data collection
    <node pkg="rosbag" type="record" name="rosbag_record_ffast"
        args="record -o /home/nvidia/Documents/rosbags/run /ekf_localization/odom /commands/keyboard"
        if="$(arg record)" />
</launch>
