<launch>
    <arg name="mode" default="rounded_square" />
    <arg name="record" default="true" />

    # Hardware
    <include file="$(find hardware)/hardware.launch" />

    # Localization
    <include file="$(find localization)/localization.launch" />

    # RL-based planner
    <node pkg="aa_planner" type="planner" name="rl_planner"
        args="--mode $(arg mode)" output="screen" />

    # Rosbag data collection
    <node pkg="rosbag" type="record" name="rosbag_record_ffast"
        args="record -o /home/nvidia/Documents/rosbags/run /ekf_localization/odom /commands/keyboard"
        if="$(arg record)" />
</launch>
