<launch>

    <arg name="fuse_odom" default="true" />
    <arg name="record" default="true" />


    # hardware
    <include file="$(find hardware)/hardware.launch" >
    </include>
    
    # localization
    <include file="$(find localization)/localization.launch" >
    </include>

    # ramp steer test 1
    <node name="ramp_steer" pkg="sysid" type="ramp_steer_exp3" required="true" output="screen">
        <remap from="odom_fused" to="odom" unless="$(arg fuse_odom)" />
    </node>

	# Rosbag data collection
    <node pkg="rosbag" type="record" name="rosbag_ramp_steer_exp3"
        args="record -o /home/nvidia/Documents/rosbags/sysid/ramp_steer_exp3_trial0_ /ekf_localization/odom /commands/keyboard /odom_fused /imu /sensors/servo_position_command"
        if="$(arg record)" />

</launch>
